.img-responsive {
  width: 100%;
  height: auto !important;
}

input {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: 0.1rem solid var(--copy-light);
}

.btn {
  background-color: blue;
  color: white;
  border: 0px solid;
  padding: 0.5rem;
}

.search-bar{
  display: flex;
  flex-direction: row;
}
